In [2]:
def one_dict(list_dict):
    keys = list_dict[0].keys()
    out_dict = {key:[] for key in keys}
    for dict_ in list_dict:
        for key,value in dict_.items():
            out_dict[key].append(value)
    return out_dict

In [3]:
!pip install nba_api

Requirement already satisfied: nba_api in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.1.9)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from nba_api) (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->nba_api) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->nba_api) (2020.11.8)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->nba_api) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->nba_api) (1.24.1)

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
dict_ = {"a":[11,21,31], "b":[12,22,32]}

In [6]:
#pandas is an API. We are communicating with pandas API. dataframe is used to communicate with pandas API. 
#Hence "dataframe" is an instance(in API lingo ).

df= pd.DataFrame(dict_)
type(df)

pandas.core.frame.DataFrame

In [7]:
# here head is used to communicate with API to displa first 5 rows

df.head()

    a   b
0  11  12
1  21  22
2  31  32

In [8]:
#here API calculates the mean

df.mean()

a    21.0
b    22.0
dtype: float64

In [9]:
#importing nba API

from nba_api.stats.static import teams

In [10]:
#returns id related to each team

nba_teams = teams.get_teams()
nba_teams[0:3]

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [11]:
dict_nba_team  = one_dict(nba_teams)
df.teams = pd.DataFrame(dict_nba_team)
df.teams.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  from ipykernel import kernelapp as app

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [12]:
df.warriors= df.teams[df.teams["nickname"]=="Warriors"]
df.warriors

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  if __name__ == '__main__':

,id,full_name,abbreviation,nickname,city,state,year_founded
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946

In [13]:
#type(df.warriors)
id_warriors =df.warriors[["id"]].values[0][0]
id_warriors

1610612744

In [14]:
from nba_api.stats.endpoints import leaguegamefinder
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullabe = id_warriors)

TypeError: __init__() got an unexpected keyword argument 'team_id_nullabe'

In [ ]:
gamefinder = get_json()

In [ ]:
! wget https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%205/Labs/Golden_State.pkl

In [ ]:
import pandas as pd
file_name = "Golden_State.pk1"
games = pd.read_pickle(file_name)
games.head()